<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
	<h2>Welcome</h2>
	
	<div sec:authorize="isAuthenticated()">
		<span sec:authentication="name"></span>
		<a th:href="@{/booklist} + '/' + ${#authentication.name}">List</a>
	</div>
	<div sec:authorize="isAnonymous()">
		<a th:href="@{/login}">Login</a>
	</div>	
</body>
</html>